/* ========== Google font ============ */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"rel="stylesheet");
* {
  font-family: "Inter";
}
:root {
  --gray: #f8f8f8;
  --text: #091e42;
  --yellow: #F1D61E;
  --yellow-icon-advance-edit: #FFB22C;
  --red: #C80036;
  --white: #FFFFFF;
  --gray-border: #D0D5DD;
  --text-in-btn: #344054;
}
.content-main {
  display: block;
  margin-top: 50px;
}
.content {
  background: var(--gray);
  padding: 10px;
}
.content p {
  margin-bottom: 10px;
  color: var(--text);
}
.wrap {
  width: 800px;
}
.wrap h3 {
  color: var(--red);
}
.wrap .h3Name {
  margin-top: 10px;
}
.feature {
  margin-left: 1000px;
}
.comeback button {
  background: var(--blue-btn-create);
  color: var(--white);
  weight: auto;
  height: 40px;
  border: 2px solid;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.comeback button i {
  padding: 3px;
}
.feature button {
  background: var(--white);
  color: var(--text-in-btn);
  weight: auto;
  height: 40px;
  border: 1px solid var(--gray-border);
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.feature button i {
  padding: 3px;
}
.advance-edit i {
  color: var( --yellow-icon-advance-edit);
}


.edit i {
  color: green;
}


.deactivate i {
  color: red;
}


